.first-container{
background-color:#A6E3E9;
height:700px;
color:white;
display:flex;
flex-wrap: wrap;
}
body{
    margin:0px;
   font-family: 'Mooli', sans-serif;;
}
.top-img{
    margin:100px 100px;
}
.text-font{
    font-family: 'Sacramento', cursive;
    font-size:100px;

}

.container>p{
    font-family: 'Montserrat', sans-serif;
    font-size:50px;
}
.spanpro{
    text-decoration: underline;
    
}
.imag{
    border-radius: 50%;
    object-fit:cover;
}
.second-container
{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}
.h22{
    font-size: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #71C9CE;
    
}
.third-container{
    padding-left: 60px;
    padding-top: 50px;
    background-color: #E3FDFD;
    padding-bottom: 100px;
    position: relative;
}
.grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
   
    gap:20px;
}
.pro{
   
    margin-top: 80px;
     border: 5px solid #22668D;
     border-radius: 5px;
     width: 350px;
     
     padding: 20px;
}


.langu{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    color: #71C9CE;
}
.flex-container{
    display:flex;
    gap:2rem;
    justify-content: space-evenly;
}
.flex-container img{
    height: 290px;
    width: 350px;
    object-fit:fill;
    
}

.para-about{
    color: #726260;
    text-align: justify;
}
.para-div{
    width: 380px;
    margin-top: 80px;
}
.proj{
    border:5px dashed #9AC5F4;
    padding: 10px;
}
.proj-contain{
    margin:100px;
}
.bottom-container {
    background-color: #66bfbf;
    padding: 50px 0 20px;
    text-align: center;
  }
  .footer-link{
    text-decoration: none;
    text-align: center;
    margin:10px;
    color:white;
    
  }
  .pro-def{
    margin-top: 20px;
     width: 400px;
     color: #726260;
  }
  .bottom-container  a:hover{
    color:#9AC5F4;
  }
  .proj-title{
    font-size: 30px;
  }
  @media(max-width:1031px)
  {
    .first-container{
        display:block;
    }
    .first-container>div{
        text-align: center;
    }
    .top-img{
       margin: 20px;
    }
    .text-font{
        font-size: 60px;
    }
    .container>p{
        font-size:30px;
    }
    
  }
  @media (max-width:1176px)
  {
    .flex-container{
        display:block;
    }
    .flex-container img{
       height:320px;
        width: 100%;
       object-fit: cover;
        
    }

    .flex-container>div{
        text-align: center;
        margin-bottom: 30px;
        font-size: 15px;
        
    }
    
   
  }
  @media(max-width:950px)
  {
    .grid-container{
        display: block;
    }
    .third-container{
        text-align: center;
        padding-left:0px;
    }
    .para-div{
        position: relative;
        width: 70%;
        left:15%;

    }
    .pro{
        text-align: center;
        position: relative;
        
        left:23%;
        width: 50%;
    }
    .pro-def{
        width:100%;
    }
    .project-def{
        font-size: 10px;
    }
    .proj-title{
        font-size: 15px;
    }
   .proj-titl{
    font-size: 15px;
   }
   .bottom-container{
    font-size: 50px;
   }
   
  }